<!DOCTYPE html>
<html>
  <head>
    <title>first try</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/home.css')}}
  </head>>
  <body>
    <h1>hellloooooo!!!!!!</h1>
  <p>heloo there i'm khus from  delhi who loves to try new thinks and learn new th passion is toings and i'm a student in 12th grade  learn new things and i'm a student in 12th grade whos passion is to learn new</p> 
    <img src="https://c7109e77-be75-408a-a2f1-ba74eddb698b-00-1ugmy5bqkgbs6.sisko.replit.dev/static/girl.jpeg" height="1000" width="650"">
    <img src="https://c7109e77-be75-408a-a2f1-ba74eddb698b-00-1ugmy5bqkgbs6.sisko.replit.dev/static/headlight.jpg" height="1000" width="650"">
    

  </body>
  
</html>